body {
  background-color: #353b48;
  color: #dcdde1;
  font-size: 22px;
  line-height: 30px;
  padding: 50px 100px;
}
h1 {
  display: none;
}
h2 {
  margin: 40px 0;
  text-align: center;
}
nav {
  padding: 20px 0;
  font-size: 23px;
}
a {
  margin-right: 10px;
  color: #dcdde1;
}
img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer{
  position: fixed;
	left: 50%;
  transform: translate(-50%);
	bottom: 0;
}